style: github
template: CHANGELOG.tpl.md
info:
  title: CHANGELOG
  repository_url: https://github.com/sv4u/touchlog

options:
  commits:
    filters:
      Type:
        - feat
        - fix
        - docs
        - test
        - refactor
        - perf
        - ci
        - chore
  commit_groups:
    title_maps:
      feat: Features
      fix: Bug Fixes
      docs: Documentation
      test: Tests
      refactor: Code Refactoring
      perf: Performance Improvements
      ci: CI/CD
      chore: Chores
  header:
    pattern: "^(\\w+)(?:\\(([\\w\\-\\.]+)\\))?:\\s(.+)$"
    pattern_maps:
      - Type
      - Scope
      - Subject
  notes:
    keywords:
      - BREAKING CHANGE

